.container{
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
/* grid-template-columns: 1fr 1fr 1fr; */
/* grid-template-columns: repeat(3,1fr); */
grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
grid-gap: 10px;
/* grid-auto-rows: 100px; */
grid-template-rows: minmax(500px ,auto);
/* grid-auto-columns: 50px; */
grid-auto-columns: minmax(100px ,auto);
column-gap: 120px;

}
.item-1-container{
    display: grid;
    row-gap: 1rem;
}
.nested-dabba{
    background-color: lightyellow;
    border: 2px solid red;

}
.items{
    background-color: lightcoral;
    border: 3px dashed green;
    
}
#item2{
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3 ;
}
#item1{
    grid-column-start: 1;
    grid-column-end: 3;
}